*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(120deg, #0b0b16, #141433);
    color: white;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0a0f2c;

    display: flex;
    justify-content: center;
    padding: 25px 80px;

    z-index: 1000;
}
.nav a{
    color: #aaa;
    margin-left: 20px;
    text-decoration: none;
}
.nav a:hover{
    color: #7b6cff;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;

    margin-top: 90px;
}
.text h1{
    font-size: 50px;
    line-height: 1.2;
}
.text span{
    color: #7b6cff;
}
.text p{
    margin-top: 15px 0;
    color: #bbb;
}

button{
    background: #7b6cff;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin: 20px 20px 20px 0px;
}
button:hover{
    opacity: 0.8;
}
.photo{
    background: #7b6cff;
    padding: 15px;
    margin: 10px;
    border-radius: 50% 40% 60% 40%;
}
.photo img{
    width: 260px;
    border-radius: 50%;
}

.secao{
    padding: 100px 80px;
}
.secao h2{
    font-size: 36px;
    margin-bottom: 20px;
    color: #7b6cff;
}
.secao p, .secao li{
    color: #ccc;
    font-size: 18px;
    line-height: 1.6;
}
.secao ul{
    list-style: none;
}
.secao ul li::before{
    content: "";
    color: #7b6cff;
}