*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}

.home{
    background-image: url(IMG_3277.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.overlay{
    background-color: rgba(0,0,0,0.6);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.btn{
    margin: 10px;
    padding: 10px 20px;
    background: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}
.btn:hover{
    background-color: #124ba0;
}



nav{
    position: fixed;
    width: 100%;
    background: linear-gradient(90deg, #1f1f1f, #2c2c2c);
    padding: 15px;
    text-align: center;
    z-index: 100; 
     /* z-index: 100; troxe de volta*/
}

nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover{
    color: #91a8c9;
}

img{

    background-size: cover;
}
.section h1{
    text-align: left;
    margin: 50px;
}

/*Cv 1*/
body{
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: #333;
}

.container{
    display: flex;
    min-height: 100vh;
}

.siderbar{
    width: 30%;
    background: linear-gradient(180deg, #0f172a, #1e293b, #2c5364);
    color: white;
    padding: 40px 20px;
    text-align: center;

    animation: slideIn 1s ease;
}

.foto{
    width: 140px;
    border-radius: 50%;
    margin-top: 35px;
    border: 4px solid white;

    transition: 0.4s;
}

.prof{
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 14px;
    opacity: 0.9;

    text-transform: uppercase; /*Lt - LL*/
}
.info{
    margin-top: 30px;
    width: 100%;
}
.info h3{
    margin-bottom: 15px;
}
.info {
    font-size: 14px;
    opacity: 0.9;
}

ul{
    list-style: none;
}
ul li{
    padding: 5px 0;
    font-size: 14px;
    opacity: 0.9;
}
ul li:hover{
    transform: translateX(5px);
    opacity: 1;
}

/*Conteudo*/
.content{
    width: 70%;
    padding: 100px 70px 70px 70px;
    animation: fadeIn 1.5s ease;
}

/*Secao*/
.secao{
    background: white;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    transition: 0.4;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Cria um efeito de barra no lado esquerdo*/
.secao::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, #1f4068, #00c6ff);
}
.secao:hover{ /*sobre e deixa uma sombra*/
    transform: translateY(-6px);
    box-shadow: 0 25px 50px rgba(0,0,0,0.08);
}

h2{
    margin-bottom: 10px;
    color: #2a5298;
}

/*Animações*/
@keyframes sideIn {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }to {
        opacity: 1;
    }
}

/*Responsividade*/
@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }
    .siderbar, 
    .content{
        width: 100%;
    }
}


/*portifolio*/

